<h2>About</h2>
<div>

<p>Caner has a double major degree in <a href="http://www.mkm.yildiz.edu.tr/en/">Mechanical Engineering</a> and in <a href="http://www.ehm.yildiz.edu.tr/en/">Electronics & Communications Engineering</a>, from <a href="http://www.yildiz.edu.tr/en/">Yildiz Technical University</a>, Istanbul, Turkey. He got master degree in <a href="https://me.sabanciuniv.edu/en/">Mechatronics Engineering</a>, from Sabanci University, Istanbul, Turkey. </p>

</p> He completed his PhD in the machine learning & computer vision field under the supervision of <a href="https://sites.google.com/view/tkkim/">Tae-Kyun Kim</a> at <a href="https://www.imperial.ac.uk/">Imperial College London</a>, UK.</p>

</p> 
     Professional (Organized Workshops & Talks on Recovering 6D Object Pose): <br />
     Organizer, 4th workshop on Recovering 6D Object pose (ECCV 2018, Munich) <br />
     Organizer, workshop on category-level 6D object pose recovery (Robots, Autonomous Vehicles, Deep Learning, 2018, Singapore) <br />
     Talk, on instance- and category-level 6D object pose recovery (Robots, Autonomous Vehicles, Deep Learning, 2018, Singapore) <br />
     Organizer, 3th workshop on Recovering 6D Object pose (ICCV 2017, Venice) <br />
</p>



</p> Teaching: Following courses have been assisted (Dr. Kim, Imperial, EEE) <br />
     (2018-current) Selected Topics in Computer Vision (Deep Architectures) <br />
     (2016-current) Pattern Recognition <br />
     (2014-current) Machine learning for computer vision <br />
</p>



<p>Email address: canersahin130@gmail.com </p>

</div>







